body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: grid;
    gap: 10px;
    /*background-image: url(images/betere_flatgebouw.png);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*background-size: 100% auto;*/
}

.buttons {
    width: 120px;
    display: block;
    margin-bottom: 10px;
    padding: 40px;

    /* Nieuwe toevoeging: */
    z-index: 2;
}


.wizard-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.wizard-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#introductieBox{
    position: fixed;
    margin: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 10%;
    background: #F9E7E7;
    border-radius: 10px;
}

.close-button{
    width: 10%;
    float: inline-end;
}



.flatgebouw{
    background-image: url("images/betere_flatgebouw.png");
    background-size: cover;  /* of background-size: contain; afhankelijk van het gewenste effect */
    background-repeat: no-repeat;
    width: 100vw;
    max-height: 100%;
}