/*Navigatiemenu*/
.navbar-kw1c{
    background-color: #0E85C7; 
}

/*Footer*/
.footer-kw1c{
    background:  #808080;
}

/* titelkopje van makers-pagina */ 
.makers-titel{ 
    text-decoration: underline;
}

.makers-venster1{
    background-color: #E5F1F9;  
}


.makers-venster2{
    background-color: #FFFFFF;  
}

.meldknop-titel{
    text-decoration: underline;
}

